*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  block-size: 100%;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
blockquote,
fieldset {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

/* Кастомный скроллбар */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: rgb(217 217 217 / 10%);
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #D9D9D9;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
} 

.page {
  inline-size: 1160px;
  max-height: 533px;
  block-size: 100%;
  margin: 0 auto;
  color: #fff;
  font-family: 'Fira Sans Condensed', sans-serif;
  font-size: 18px;
  background-color: #1b1919;
  margin: 133px auto;
}

.page *:focus-visible {
  outline: 2px solid white;
  outline-offset: 2px;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.result__video-container {
  width: 724px;
  height: 386px;
  margin-top: 78px;
  margin-bottom: 16px;
  position: relative;
}

.result__video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.search-form {
  display: flex;
  gap: 40px;
  height: 54px;
  
}

.search-form__fieldset {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 225px;
  border: none;
}

.search-form__fieldset-title {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
}

.search-form__textfield {
  width: 100%;
  height: 27px;
  background-color: transparent;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
  border-left: none;
  border-right: none;
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 100%;
  color: white;
  cursor: caret;
}

.search-form__label-text {
  cursor: pointer;
}

.search-form__checkbox-list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
}

.search-form__checkbox {
  width: 19px;
  height: 19px;
  border: 1px solid white;
}

.search-form__pseudo-checkbox {
  display: inline-block;
  width: 19px;
  height: 19px;
  border: 1px solid white;
  vertical-align: middle;
  position: relative;
  cursor: pointer;
}

.search-form__checkbox:checked + .search-form__pseudo-checkbox::before, 
.search-form__checkbox:active + .search-form__pseudo-checkbox::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 51%;
  width: 14px;
  height: 14px;
  background-color: rgb(219, 219, 219);
  transform: translate(-50%, -50%);
}

.search-form__submit-button {
  width: 194px;
  align-self: flex-end;
}



.content__details {
  display: flex;
  flex-direction: column;
  gap: 26px;
  inline-size: 400px;
}

.title {
  width: 260px;
  height: 210px;
  font-family: Oswald;
  font-weight: 700;
  font-style: Bold;
  font-size: 75px;
  line-height: 94%;
  letter-spacing: 0%;
  text-transform: uppercase;
}
.content__accent {
  color: #545050;
}

.content__list-container {
  height: 298px;
  overflow-y: auto;
}

.content__list-item .content__video-card{
  display: flex;
  margin-bottom: 30px;
}

.content__video-card-thumbnail {
  width: 194px;
  height: 103px;
  object-fit: cover;
}

.content__video-card-title {
  width: 200px;
  font-family: Oswald;
  font-weight: 700;
  font-size: 30px;
  line-height: 100%;
  text-transform: uppercase;
  color: #fff;
  padding-bottom: 6px;
}
.content__card-link {
  text-decoration: none;
}
.content__video-card-description {
  font-family: Fira Sans Condensed;
  font-weight: 400;
  font-style: Regular;
  font-size: 18px;
  line-height: 16.2px;
  color: #fff;
}

.more-button {
  width: 390px;
  margin-bottom: 2px;
}

.button {
  height: 34px;
  background-color: transparent;
  border: 1px solid white;
  color: white;
  font-family: Fira Sans Condensed;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  cursor: pointer;
}

.error {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  background-color: #363636;
  color: white;
  font-size: 18px;
  text-align: center;
}
.preloader:not(.result__video-container .preloader) {
  display: none;
}

.search-form__textfield:active {
  border: 1px solid white;
  background-color: transparent;
} 
.button:active, .content__video-card:active {
  background-color: #545050;
}
.button:hover,  .content__video-card:hover, .search-form__label-text:hover{
  text-decoration: underline;
  color: white;
}
.search-form__label:focus-within {
  outline: 2px solid white;
  outline-offset: 2px;
}
.content__list-item:focus-within {
  outline: 2px solid white;
  outline-offset: -1px;
}